/* 漫画册CSS */
.book {
    display: inline-block;
    width: 224px;
    height: 315px;
    margin: 0 20px 40px 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.book-cover {
    display: block;
    width: 224px;
    height: 160px;
    object-fit: cover;
}

.book-info {
    position: relative;
    width: 224px;
    height: 155px;
    text-align: left;
    padding: 16px;
    margin-bottom: 16px;
    box-sizing: border-box;
    background: #fff;
}

.book-name {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    word-break: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.book-desc {
    height: 60px;
    line-height: 20px;
    color: #606266;
    font-size: 13px;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.book-note {
    position: absolute;
    bottom: 16px;
    width: 192px;
    height: 20px;
    line-height: 20px;
}

.book-note .item {
    float: left;
    color: #909399;
    font-size: 12px;
    margin-right: 12px;
}

.book-note .item-line {
    float: left;
    display: block;
    width: 1px;
    height: 9px;
    margin-top: 6px;
    margin-right: 12px;
    background-color: #c0c4cc;
}

.book-note .icon-link {
    top: 2px;
    line-height: 17px;
    color: #ffa500;
    font-size: 17px;
}

.book-note .icon-link:hover, .book-note .icon-link:active {
    color: #f56c6c;

}

.icon-link:before {
    content: "\e144";
}

