.master {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: 450px;
    margin-bottom: 40px;
}

.carousel {
    width: 780px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.carousel-item {
    position: relative;
    width: 780px;
    height: 450px;
}

.carousel-item img {
    display: block;
    width: 780px;
    height: 450px;
    object-fit: cover;
}

.carousel-caption {
    position: absolute;
    left: 60px;
    bottom: 60px;
    padding: 24px;
    text-align: center;
    border: 2px solid #ced4da;
    background: rgba(255, 255, 255, 0.85);
}

.caption-title {
    display: block;
    padding-bottom: 16px;
    font-size: 22px;
    text-align: center;
}

.caption-note {
    display: block;
    padding-top: 16px;
    border-top: 1px solid #909399;
    color: #303133;
    text-align: center;
}

.panel {
    width: 352px;
    height: 402px;
    padding: 24px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.panel-title {
    font-size: 18px;
    font-weight: 700;
}

.panel-item {

}

.content {
    flex-direction: column;
}

.row {
    width: 1200px;
    margin-top: 40px;
    border-top: 1px solid #ced4da;
}

.row-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 80px;
}

.row-name {
    font-size: 18px;
    font-weight: 700;
}

.row-link {
    width: 88px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #303133;
    border-radius: 2px;
    color: #303133;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    background-color: transparent;
}

.list {
    width: 1200px;
    margin-bottom: 40px;
}

.icon-menu-right:before {
    content: "\e258";
}