.master {
    position: relative;
    width: 1200px;
    height: 480px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.book-cover {
    display: block;
    width: 1200px;
    height: 480px;
    object-fit: cover;
}

.book-info {
    display: flex;
    justify-content: center;
    align-content: center;
    position: absolute;
    top: 0;
    width: 720px;
    height: 480px;
    padding: 0 240px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
}

.book-name {
    font-size: 32px;
    font-weight: 700;
}

.book-description {
    font-size: 15px;
    line-height: 22px;
    height: 120px;
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}