.master {
    position: relative;
    width: 1200px;
    height: 480px;
    margin-bottom: 40px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.book-cover {
    display: block;
    width: 1200px;
    height: 420px;
    object-fit: cover;
}

.book-info {
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    position: absolute;
    top: 0;
    width: 720px;
    height: 360px;
    padding: 0 240px;
    color: #fff;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
}

.book-name {
    width: 100%;
    height: 40px;
    font-size: 28px;
}

.book-description {
    width: 100%;
    line-height: 22px;
    min-height: 22px;
    max-height: 66px;
    margin-top: 16px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.user-info {
    display: flex;
    display: -webkit-flex;
    position: absolute;
    top: 360px;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.75);
}

.user-style {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    position: absolute;
    left: 0;
    height: 60px;
}

.user-avatar {
    display: block;
    width: 42px;
    height: 42px;
    margin-left: 12px;
    margin-right: 10px;
    border-radius: 50%;
}

.user-name {
    color: #fff;
}

.btn-elegance {
    margin: auto;
    color: #fff;
    border-color: #fff;
}

.book-settings {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: #fff;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
}

.book-settings > .icon {
    top: 3px;
}

.book-settings:hover > .setting-list {
    display: block;
}

.setting-list {
    display: none;
    position: absolute;
    top: -22px;
    right: 0;
    width: 100px;
    height: 122px;
    color: #000;
    font-size: 14px;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 0 6px rgba(0, 0, 0, 0.1);
}

.setting-item {
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.setting-list .icon {
    top: 2px;
    margin-right: 8px;
}

.setting-list .line {
    border-bottom: 1px solid #ced4da;
}

.book-appreciate {
    width: 1200px;
    height: 60px;
}

.list-way {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/icon/list-silver.png);
    background-size: cover;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 24px;
    cursor: pointer;
}

.list-active {
    background: url(../images/icon/list-black.png);
    background-size: cover;
}

.slide-way {
    float: left;
    width: 20px;
    height: 20px;
    background: url(../images/icon/slide-silver.png);
    background-size: cover;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.slide-active {
    background: url(../images/icon/slide-black.png);
    background-size: cover;
}

.form-label-2 .form-label {
    width: 30px;
    margin-right: 12px;
}

.form-label-2 .form-control {
    width: 328px;
}

.form-label-2 textarea.form-control {
    min-width: 328px;
    max-width: 328px;
}

.img-group .form-label {
    float: left;
    height: 90px;
    line-height: 90px;
    margin-right: 12px;
    font-weight: 700;
}

.img-group .form-control {
    float: left;
    display: block;
    width: 118px;
    height: 88px;
    padding: 0;
    object-fit: cover;
    border: 1px solid #ced4da;
}

.img-group .btn {
    margin: 27px 0 27px 12px;
}

.slide {
    background-color: rgba(0, 0, 0, 0.75);
}

.slide-content {
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    background-color: transparent;
}

.slide-img {
    display: block;
    width: 1080px;
    height: 840px;
    margin: auto;
    object-fit: contain;
}

.slide-dismiss {
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    cursor: pointer;
}

.slide-dismiss:hover, .slide-dismiss:active {
    background: #000;
}

.slide-dismiss img {
    display: block;
    width: 64px;
    height: 64px;
    background: url("../images/icon/close.png") no-repeat center;
}

.slide-nav {
    position: absolute;
    width: 180px;
    height: 120px;
    cursor: pointer;
}

.slide-nav:hover, .slide-nav:active {
    background-color: #000;
}

.slide-arrow {
    position: absolute;
    display: block;
    width: 60px;
    height: 120px;
    top: -4px;
}

.slide-preview {
    position: absolute;
    display: none;
    width: 80px;
    height: 80px;
    object-fit: cover;
    top: 20px;
}

.slide-nav:hover .slide-preview {
    display: block;
}

.pre {
    left: 0;
}

.next {
    right: 0;
}

.pre .slide-arrow {
    left: 5px;
    background: url("../images/icon/return.png") no-repeat center;
}

.next .slide-arrow {
    right: 5px;
    background: url("../images/icon/enter.png") no-repeat center;
}

.pre .slide-preview {
    right: 20px;
}

.next .slide-preview {
    left: 20px;
}

.img-content {
    position: relative;
    padding: 25px;
}

.modal-img {
    display: block;
    width: 400px;
    height: auto;
}

.btn-replace {
    position: absolute;
    right: 42px;
    bottom: 42px;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #909399;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ced4da;
    border-radius: 50%;
    background-color: #fff;
}

.prompt {
    font-size: 17px;
}

.prompt-title {
    font-size: 17px;
}

.prompt-note {
    color: #909399;
    font-size: 14px;
}

.icon-trash:before {
    content: "\e020";
}

.icon-bookmark:before {
    content: "\e044";
}

.icon-edit:before {
    content: "\e065";
}